<div class="pages-container footer">
  <div class="d-flex" style="width: 100%!important;">
    <div class="d-flex align-items-center w-100 pages-container footer">
      <button *ngIf="!navigationService.isFirstStep() && !navigationService.isLastStep()"
        (click)="navigationService.previousStep()"
        style="border: none; background-color:transparent; color: rgba(0, 0, 0, 0.342);">
        Voltar
      </button>

      <button  [class.invisible]="navigationService.isLastStep()" *ngIf="!navigationService.isActiveStep(4)"
        (click)="navigationService.nextStep()"
        class="btn btn-primary ms-auto" 
        style="width: 130px!important; height: 38px !important;">
        Próxima
      </button>

      <button *ngIf="navigationService.isActiveStep(4)"
        (click)="onConfirm()"
        [disabled]="isConfirming"
        class="btn btn-primary ms-auto" 
        style="width: 130px!important; height: 38px !important;">
        <span *ngIf="!isConfirming">Confirmar</span>
        <span *ngIf="isConfirming">Salvando...</span>
      </button>
    </div>
  </div>
</div>