<div class="d-flex justify-content-center align-items-center" style="height: 55vh;">
    <div class="d-flex flex-column justify-content-center align-items-center text-center">
        <img src="./assets/icons/icon-thank-you.svg" alt="verificado">
        <h2>Obrigado!</h2>
        <h6>
            Obrigado por confirmar sua inscrição! Esperamos que você se divirta
            <br>
            usando nossa plataforma. Se precisar de
            suporte, envie um e-mail para support{{arroba}}loremgaming.com.
        </h6>
    </div>
</div>