.pages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 130%;
}

.finish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

.finish-img {
  width: 100px;
  height: 100px;
}
