.pages-container {
    min-height: auto !important;
}

.finish{
    display: flex!important;
    flex-direction: column!important;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
}