<div class="container">
  <div class="sidebar">
    <div *ngFor="let step of navigationService.getSteps() | filterSteps" class="step"
      [class.active]="isActiveStep(step.number)">
      <div class="step-number"
        [ngClass]="{'step-number-active ': isActiveStep(step.number),'': !isActiveStep(step.number)}">{{ step.number }}
      </div>
      <div>
        <span class="step-name">etapa</span>
        <span class="step-info"> {{ step.number }}</span>
        <br>
        <span class="step-info-span">{{ step.title }}</span>
      </div>
    </div>
  </div>
  <div>
    
      <router-outlet></router-outlet>
      <app-footer></app-footer>
  </div>

</div>