<div class="login-container">
    <div class="form-card">
        <div class="mb-5">
            <h2>Selecione seu plano</h2>
            <h6>Você tem a opção de cobrança mensal ou anual.</h6>
        </div>
        <div>
            <p *ngFor="let plano of planos"><img [src]="plano.image">,{{plano.name}},{{plano.value}}</p>
        </div>
    </div>
    <div class="position-relative button-next-step">
        <a href="/addons">
            <button class="btn btn-primary position-absolute bottom-0 end-0">Proxima etapa</button>
        </a>
    </div>
</div>