
.plan-name {
    font-weight: 700;
    color: #0A3459;
}

.plans-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 35px;
}

.plan {
    border: 1px solid #d6d9e6;
    border-radius: 10px;
    cursor: pointer;
    flex: 1 0 0px;
    padding: 20px;
    flex-direction: column;
    display: flex;
} 

.plan:hover {
  border: 1px solid #4D4A8C;
  background-color: #4d4a8c12;
  transform: scale(1.02);
}

.plan:active {
  border: 1px solid #4D4A8C; 
  background-color: #4d4a8c12;
  transform: scale(0.98);
}

.plan.selecionado {
  border: 1px solid #4D4A8C;
  background-color: #4d4a8c12;

}
.time-change {
    background-color: #d6d9e65b;
    border-radius: 10px;
    border: 10px solid #d6d9e621;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #02295a;
    transition: .4s;
    border-radius: 34px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    min-height: 12px;
    min-width: 12px;
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider:before {
    transform: translateX(20px);
}
.grid{
    gap: 10%;
}

.type-payment-selected{
  font-weight: 700;
  color: #0A3459; 
}

.type-payment-notselected {
  font-weight: 400;
  color: #A0A0A0; 
}
    
        @media (max-width: 576px) {
            .form-card {
                padding: 20px;
            }
            
            .plan {
                padding: 15px;
            }
            
            .grid {
                flex-direction: column;
                gap: 10px;
            }
            
            .buttons {
                margin-top: 20px;
            }
        } 